@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap");
:root {
  --orange: #d1593c;
  --black: #324151;
  --white: #f7f5f2;
  --grey: #dfdfde;
  --faint: #dfdfde3e;
  --rrr: rgba(24, 40, 56, 0.924); }

* {
  font-family: "lora", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.2s linear; }
  *::selection {
    color: var(--white);
    background-color: var(--orange); }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem; }

body {
  background-image: linear-gradient(to right, rgba(24, 40, 56, 0.924), rgba(24, 40, 56, 0.924)), url(../img/Home-Image.png);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content max-content repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] minmax(min-content, 120rem) [center-end] minmax(6rem, 1fr) [full-end]; }

section {
  padding: 2rem 5%; }

::-webkit-scrollbar {
  width: 0.8rem; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--orange); }

::-webkit-scrollbar-track {
  background-color: var(--black); }

.swiper-pagination-bullet {
  height: 1rem;
  width: 1rem;
  border-radius: 50rem;
  background-color: var(--grey); }

.swiper-pagination-bullet-active {
  width: 3rem;
  background: var(--orange); }

.heading {
  margin: 10rem;
  text-align: center;
  font-size: 4rem;
  grid-column: 1 / -1;
  font-weight: 700; }
  .heading-sub {
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 3rem; }

.faint-heading {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 10rem 0;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--faint);
  text-stroke: 0.7px var(--faint); }

.text {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400; }

.btn {
  position: relative;
  font-size: 1.5rem;
  padding: 1rem 1.7rem;
  background-color: var(--orange);
  color: var(--white); }
  .btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scaleX(1.1); }

.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.1s;
  transition-property: transform; }
  .hvr-icon-forward .hvr-icon {
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out; }
  .hvr-icon-forward:hover .hvr-icon,
  .hvr-icon-forward:focus .hvr-icon,
  .hvr-icon-forward:active .hvr-icon {
    transform: translateX(8px); }

.btn-style {
  position: relative;
  font-size: 1.5rem;
  padding: 1rem 1.7rem;
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--orange);
  transition: all .1s; }

.hvr-bubble-bottom {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative; }
  .hvr-bubble-bottom:before {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    transition-duration: 0.3s;
    transition-delay: .2s;
    transition-property: transform visibility;
    left: calc(50% - 10px);
    bottom: 0;
    border-width: 10px 10px 0 10px;
    border-color: var(--orange) transparent transparent transparent; }

.btn-style.active:active {
  background-color: var(--orange); }

.btn-style.active:not(:active) {
  transition-delay: 0.5s;
  /* Delay the background color change */
  background-color: var(--black); }

.hvr-bubble-bottom.active:active:before {
  visibility: visible;
  transform: translateY(10px); }

.hvr-bubble-bottom.active:not(:active):before {
  visibility: hidden; }

.underline {
  text-decoration: underline; }

.mb-small {
  margin-bottom: 2rem; }

.mb-big {
  margin-bottom: 4rem; }

.mb-bigger {
  margin-bottom: 6rem; }

.home {
  padding: 0rem 5%;
  grid-column: center-start / center-end;
  grid-row: 1/2; }
  .home .box-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem; }
  .home .image {
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem; }
    .home .image img {
      height: 40rem;
      width: 40rem;
      border: 2px solid #495665;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      object-fit: cover;
      animation: changeProperties 10s infinite; }
  .home .content {
    flex: 1 1 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem; }
    .home .content h2 {
      font-size: 2.5rem;
      font-weight: 400;
      color: var(--orange); }
    .home .content h1 {
      font-size: 4rem;
      color: var(--white);
      padding: 1rem 0;
      text-transform: none; }
      .home .content h1 span {
        color: var(--orange); }
    .home .content p {
      font-size: 1.7rem;
      font-weight: 400;
      color: var(--white);
      padding-bottom: 2rem;
      line-height: 1.5; }

@keyframes changeProperties {
  0% {
    border-color: #495665;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
  33% {
    border-color: #5b6774;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; }
  66% {
    border-color: #424d5b;
    border-radius: 61% 39% 22% 78% / 64% 66% 34% 36%; }
  100% {
    border-color: #424d5b;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; } }

.accomplishment {
  grid-column: center-start / center-end;
  margin-bottom: 100rem;
  position: relative; }
  .accomplishment-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center; }
  .accomplishment-content {
    margin-bottom: 5rem; }

.card {
  background-color: var(--black);
  padding: 2rem;
  border: 1px solid var(--faint); }
  .card:not(:last-child) {
    margin-bottom: 5rem; }
  .card-certificate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    row-gap: 0rem;
    column-gap: 3rem;
    grid-template-rows: min-content 1fr; }
  .card-skills .skills {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--orange); }
  .card-header {
    grid-column: 1/-1;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem; }
  .card-info {
    padding-bottom: 2rem;
    height: 15rem; }
    .card-info:not(:last-child) {
      margin-bottom: 2rem;
      border-bottom: 1px solid var(--faint); }
  .card-date {
    color: var(--orange);
    font-size: 2rem;
    padding-bottom: 2rem; }
  .card-heading {
    font-size: 1.8rem;
    margin-bottom: 1rem; }
    .card-heading span {
      font-weight: 400;
      font-size: 1.4rem; }
  .card-text {
    font-size: 1.4rem;
    color: var(--grey); }

.about {
  grid-column: center-start / center-end;
  margin-bottom: 10rem;
  position: relative; }
  .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center; }
  .about-image {
    width: 100%;
    object-fit: cover;
    border: 2px solid #495665; }
  .about-btn {
    margin-top: 2.5rem; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: all 0.5s linear;
  z-index: 999; }
  header.sticky {
    border-bottom: 0.1rem solid var(--grey);
    background: rgba(0, 0, 0, 0.8); }
  header .logo h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--orange);
    text-transform: uppercase;
    letter-spacing: 0.2rem; }
  header .navbar a {
    color: var(--white);
    font-size: 1.8rem;
    margin-left: 1rem; }
    header .navbar a:hover, header .navbar a.active {
      color: var(--orange); }
  header #menu-btn {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    display: none; }
  header .fa-times {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  header #menu-btn:hover {
    color: var(--orange); }
