section {
   padding: 2rem;
   margin-bottom: 5rem;
}

.about,
.skills,
.services {
   grid-column: center-start / center-end;
   position: relative;

   // display: grid;
   // justify-content: center;


   .about-content,
   .skills-content,
   .services-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      gap: 5rem;
   }

   &-image {
      width: 100%;
      object-fit: cover;
      border: 2px solid #495665;
   }

   &-btn {
      width: 100%;
   }

}

.services-tab {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 40%));
   grid-gap: 2rem;
   justify-content: center;
}

.card-wide {
   background-color: black;
   padding: 2rem;
   width: 100%;
}