.about,
.skills,
.services {
   grid-column: center-start / center-end;
   position: relative;

   &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
   }

   &-image {
      width: 100%;
      object-fit: cover;
      border: 2px solid #495665;
   }

   &-btn {
      width: 100%;
   }

   &-tab {
      display: flex;
      gap: 1rem;
      width: 100%;
      justify-content: space-between;

      .card {
         width: 50%;

         &:not(:last-child) {
            margin-bottom: 0;
         }
      }
   }
}