section {
   padding: 2rem;
   margin-bottom: 5rem;
}

.about,
.skills,
.services,
.contact {
   grid-column: center-start / center-end;
   position: relative;
   display: grid;


   .about-content,
   .skills-content,
   .services-content,
   .contact-content {
      height: max-content;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 2rem;
      justify-content: center;
      align-items: center;
   }

   .about-content {
      @media only screen and (max-width:$bp-small) {
         grid-template-columns: 100%;
         grid-template-rows: 1fr 1fr;
      }
   }

   &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(3px -1px 4px var(--orange));
   }

   &-info {
      padding: 2rem;
   }

   &-btn {
      width: 100%;
   }
}

.services-tab {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 45%));
   grid-gap: 2.5rem;
   justify-content: center;

   @media only screen and (max-width:$bp-smaller) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 3.5rem;
   }

   .card-wide {
      background-color: var(--black);
      padding: 2rem;
      width: 100%;

      .card-heading {
         color: var(--orange);
      }

      .card-text {
         color: var(--white);
      }

      .icon {
         font-size: 2rem;
         margin-bottom: 1rem;
      }
   }
}

.skills-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
   grid-gap: 2px;
   align-items: center;
   justify-content: center;
}

.skill-box {
   display: flex;
   column-gap: 1rem;
   align-items: center;
   padding: 1rem 0;
   border-radius: 5px;
   width: 100%;
}

.skill-box img {
   border-radius: 100%;
   width: 2.5rem;
   height: 2.5rem;
}

.skill-box span {
   font-weight: bold;
   font-size: 1.5rem;
   white-space: nowrap;
   overflow: hidden;
}

// Contact
.contact {

   .contact-content {
      align-items: start;

      @media only screen and (max-width:$bp-large) {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(2, min-content);
         align-items: center;
      }

      .contact-content__details {
         padding: 2rem;

         .contact-text {

            @media only screen and (max-width:$bp-large) {
               text-align: center;
            }
         }

         .contact-link {

            // @media only screen and (max-width:$bp-large) {
            display: flex;
            justify-content: space-around;
            margin-left: 0;
            gap: .5rem;
            // }
         }

         .heading {
            font-size: 2.5rem;
            margin: 0 0 1rem 0;
         }

         .card-text {
            margin-bottom: 1.5rem;
            font-weight: 600;
         }

         .contact-socials {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 2rem;

            i {
               font-size: 3.5rem;
               color: var(--orange);
            }

            &__detail {
               display: flex;
               flex-direction: column;
               justify-content: center;
            }

            .card-heading,
            .card-text {
               margin-bottom: 0;
            }

            .card-heading {
               font-size: 1.7rem;
            }

            .card-text {
               font-size: 1.4rem;
            }
         }
      }

      form {
         min-width: 25rem;

         .form-group {
            position: relative;

            label {
               display: block;
               margin-bottom: 0.5rem;

               .icon {
                  color: #57565c;
                  font-size: 1.5rem;
                  position: absolute;
                  left: 1.5rem;
                  top: 1.5rem;
               }
            }

            .form-control {
               border-radius: 2rem;
               border: none;
               outline: none;
               box-shadow: 0px 3px 5px var(--orange);
               height: 4.3rem;
               padding: 1rem 4rem;
               width: 100%;
               margin-bottom: 1rem;
               background: linear-gradient(150deg, var(--white), var(--white), var(--grey), var(--grey));
               background-size: 300%;
               transition: background 0.5s ease-in-out;
               background-position: right;

               &:focus {
                  background-position: left;
                  outline: none;
                  box-shadow: 0px 5px 5px var(--orange);
               }
            }

            &.message .form-control {
               box-sizing: border-box;
               font-size: 1.6rem;
               height: auto;
            }

            input,
            textarea {

               color: #212529;
               font-size: 1.5rem;

               &::placeholder {
                  font-weight: 600;
                  font-size: 1.5rem;
                  color: #838788;
                  position: relative;
                  left: 2px;

               }

            }
         }
      }
   }
}