.accomplishment {
   grid-column: center-start / center-end;
   margin-bottom: 100rem;
   position: relative;

   &-btn {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      // margin-bottom: ;

   }

   &-content {
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      // grid-gap: 7rem;
      margin-bottom: 5rem;
   }
}