  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap');

  .--orange {
     color: #F17105 !important
  }

  :root {
     --orange: #F17105;
     --black: rgba(50, 65, 81, 0.384);
     --white: #fff;
     --grey: #dfdfde;
     --grey-2: #f5f5f5;
     --faint: #dfdfde3e;
     --dark: rgba(24, 40, 56, 0.924);
     --light: #df8b77;

     --primary: #ec994b;

     //   backup colours - #FBB13C 8/10,  
  }

  $font-primary: 'lora', serif;
  $font-secondary: 'Open Sans', sans-serif;

  // RESPONSIVE VARIABLES
  $bp-largest: 75em; //
  $bp-larger: 62.5em; //
  $bp-big: 50.3em; //
  $bp-large: 45.7em; //
  $bp-medium: 38.6em; //
  $bp-small: 30.5em; //
  $bp-smaller: 20.8em; //
  $bp-smallest: 30em;

  * {
     font-family: $font-primary;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     text-decoration: none;
     transition: all 0.2s linear;

     &::selection {
        color: var(--white);
        background-color: var(--orange);
     }
  }


  html {
     font-size: 62.5%;
     line-height: 1.5;
     overflow-x: hidden;
     scroll-behavior: smooth;
     scroll-padding-top: 6rem;

     @media only screen and (max-width:$bp-largest) {
        font-size: 50%;
     }

     @media only screen and (max-width:$bp-medium) {
        font-size: 40%;
     }

     @media only screen and (max-width:$bp-smaller) {
        font-size: 30%;
     }
  }

  body {
     background-image: linear-gradient(to right, rgba(24, 40, 56, 0.924), rgba(24, 40, 56, 0.924)), url(../img/Home-Image.webp);
     //   background-color: #182838;
     //   background-image: url(../img/Home-Image.webp);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     margin: 0 auto;
     color: white;

     // trying to fix IOS browser issues with background
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
  }

  .container {
     display: grid;
     grid-template-rows: max-content max-content max-content repeat(3, min-content);
     grid-template-columns: [full-start] minmax(.2rem, 1fr) [center-start] minmax(min-content, 120rem) [center-end] minmax(.2rem, 1fr) [full-end];
     justify-content: center;

     @media only screen and (max-width:$bp-small) {
        grid-template-columns: [full-start] 1fr [center-start] minmax(100vw, 120rem) [center-end] 1fr [full-end];
     }
  }


  ::-webkit-scrollbar {
     width: 0.8rem;
  }

  ::-webkit-scrollbar-thumb {
     border-radius: 1rem;
     background-color: var(--orange);
  }

  ::-webkit-scrollbar-track {
     background-color: var(--black);
  }