  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap');

  .--orange {
     color: #013486 !important
  }

  :root {
     //   --orange: #d1593c;
     //   --black: rgba(50, 65, 81, 0.384);
     //   --white: #fff;
     //   --grey: #dfdfde;
     //   --grey-2: #f5f5f5;
     //   --faint: #dfdfde3e;
     //   --dark: rgba(24, 40, 56, 0.924);
     //   --light: #dee2e6;
     //   --bgColor1: 24, 40, 56;
     //   --bgColor2: 24, 40, 56;

     --orange: #013486;
     --black: #dee2e6;
     --white: #212529;
     --grey: #343140;
     --grey-2: #f8f9fa;
     --faint: #dfdfde3e;
     --dark: rgba(24, 40, 56, 0.924);
     --light: #dee2e6;
     --bgColor1: 248, 249, 250;
     --bgColor2: 241, 243, 245;


  }

  //   backup colours - #FBB13C 8/10, d1593c, 182838, 183c5d

  $font-primary: 'lora', serif;
  $font-secondary: 'Open Sans', sans-serif;

  // RESPONSIVE VARIABLES
  $bp-largest: 75em; //
  $bp-larger: 62.5em; //
  $bp-big: 50.3em; //
  $bp-large: 45.7em; //
  $bp-medium: 38.6em; //
  $bp-small: 30.5em; //
  $bp-smaller: 20.8em; //
  $bp-smallest: 30em;

  * {
     font-family: $font-primary;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     text-decoration: none;
     transition: all 0.2s linear;

     &::selection {
        color: var(--grey-2);
        background-color: var(--orange);
     }
  }


  html {
     font-size: 62.5%;
     line-height: 1.5;
     overflow-x: hidden;
     scroll-behavior: smooth;
     scroll-padding-top: 6rem;

     @media only screen and (max-width:$bp-largest) {
        font-size: 50%;
     }

     @media only screen and (max-width:$bp-medium) {
        font-size: 43%;
     }

     @media only screen and (max-width:$bp-smaller) {
        font-size: 30%;
     }
  }

  html::before {
     content: ' ';
     display: block;
     background-image: linear-gradient(to right bottom, rgba(var(--bgColor1), 0.93), rgba(var(--bgColor2), 0.93)), url('../img/Home-Image.webp');
     background-position: center;
     background-size: cover;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     position: fixed;
     z-index: -10;
  }

  body {
     margin: 0 auto;
  }

  .container {
     display: grid;
     grid-template-rows: max-content max-content max-content repeat(3, min-content);
     grid-template-columns: [full-start] minmax(.2rem, 1fr) [center-start] minmax(min-content, 120rem) [center-end] minmax(.2rem, 1fr) [full-end];
     justify-content: center;

     @media only screen and (max-width:$bp-small) {
        grid-template-columns: [full-start] 1fr [center-start] minmax(100vw, 120rem) [center-end] 1fr [full-end];
     }
  }

  ::-webkit-scrollbar {
     width: 0.8rem;
  }

  ::-webkit-scrollbar-thumb {
     border-radius: 1rem;
     background-color: var(--orange);
  }

  ::-webkit-scrollbar-track {
     background-color: var(--black);
  }


  .modal {
     opacity: 0;
     visibility: hidden;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 99999999999;
     transition: opacity .5s, visibility .5s;

     //   @media (min-width: 768px) {
     //      width: 60%;
     //   }

     @media only screen and (max-width:$bp-large) {
        width: 80%;
     }

     &.active,
     &.openModal {
        opacity: 1;
        visibility: visible;
        transition: opacity .3s ease-in-out, visibility .2s;
     }

     span {
        color: var(--light);
        font-size: 5rem;
        //   position: absolute;
     }

     &-content {
        display: flex;
        max-width: 60%;
        max-height: 70%;
        margin: 0 auto;

        @media only screen and (max-width:$bp-larger) {
           max-width: 90%;
        }
     }
  }

  .container.blur {
     backdrop-filter: blur(1px);
     filter: blur(3px);
  }

  .container.blur::before {
     content: '';
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.70);
     z-index: 2222222;
  }