.home {
   padding: 0rem 1%;
   grid-column: center-start / center-end;
   grid-row: 1/2;
   display: grid;
   align-items: center;
   padding: 2.5rem;

   & .box-container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;


      @media only screen and (max-width:$bp-large) {
         flex-direction: column-reverse;
      }

      .typing-text {
         text-transform: capitalize;
      }
   }

   & .image {
      text-align: center;
      width: 50%;

      @media only screen and (max-width:$bp-large) {
         width: 100%;
      }

      & img {
         height: 40rem;
         width: 40rem;
         border: 2px solid #495665;
         border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
         object-fit: cover;
         animation: changeProperties 10s infinite;
      }
   }

   & .content {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 7rem;
      padding-left: 2rem;

      @media only screen and (max-width:$bp-large) {
         width: 100%;
         margin-top: 2.5rem;
         padding: 2rem;
      }

      & h2 {
         font-size: 2.2rem;
         font-weight: 500;
         color: var(--orange);
      }

      & h1 {
         font-size: 3rem;
         color: var(--white);
         padding: 1rem 0;
         text-transform: none;

         & span {
            color: var(--orange);
         }
      }

      & p {
         font-size: 2rem;
         font-weight: 400;
         color: var(--white);
         padding-bottom: 2rem;
         line-height: 1.5;
      }
   }
}

@keyframes changeProperties {
   0% {
      border-color: #495665;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
   }

   33% {
      border-color: #5b6774;
      border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
      // border-radius: 61% 39% 22% 78% / 64% 66% 34% 36%;
   }

   66% {
      border-color: #424d5b;
      border-radius: 61% 39% 22% 78% / 64% 66% 34% 36%;
      // border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
   }

   100% {
      border-color: #424d5b;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      // border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
   }
}