header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 5% 2rem 2%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: transparent;
   transition: all 0.5s linear;
   z-index: 999;
   backdrop-filter: blur(3px);

   & .logo h2 {
      font-size: 2.5rem;
      font-weight: 900;
      color: var(--orange);
      text-transform: uppercase;
      letter-spacing: 0.2rem;
   }

   & .navbar {

      @media only screen and (max-width:$bp-small) {
         display: none;
      }

      a {
         color: var(--white);
         font-size: 1.8rem;
         margin-left: 1rem;

         &:hover,
         &.active {
            color: var(--orange);
         }
      }
   }

   & #menu-btn {
      font-size: 3rem;
      color: var(--white);
      cursor: pointer;
      transition: all 0.5s linear;
      display: none;
   }

   & .fa-times {
      transform: rotate(180deg);
   }

   & #menu-btn:hover {
      color: var(--orange);
   }
}