header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: all 0.5s linear;
    z-index: 999;

    &.sticky {
        border-bottom: 0.1rem solid var(--grey);
        background: rgba(0, 0, 0, 0.8);
    }

    & .logo h2 {
        font-size: 2.5rem;
        font-weight: 900;
        color: var(--orange);
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    & .navbar a {
        color: var(--white);
        font-size: 1.8rem;
        margin-left: 1rem;

        &:hover,
        &.active {
            color: var(--orange);
        }
    }

    & #menu-btn {
        font-size: 3rem;
        color: var(--white);
        cursor: pointer;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        display: none;
    }

    & .fa-times {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    & #menu-btn:hover {
        color: var(--orange);
    }
}