.portfolio {
   grid-column: center-start / center-end;
   position: relative;
   display: grid;
}

// SWIPER 1
div.swiper-1 {
   margin: 2.5rem auto;
   // margin: 10rem 4%;
   width: 80%;
   height: auto;
   position: relative;
   padding: 0 4rem 6rem 4rem;

   .swiper-wrapper {
      // width: 500px;

      .swiper-slide {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .portfolio-info {
         display: grid;
         grid-template-columns: 50% 40%;
         gap: 2.5rem;
         justify-content: center;
         align-items: center;
         // grid-template-rows: repeat(2, min-content);

         &__img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-width: 100%;
            border-radius: 10px;
         }

         &__text {
            padding-top: 1rem;

         }
      }
   }

   &-pagination {
      margin-top: 2rem;
   }


   div.swiper-button-prev {
      top: 45%;
      left: 0;
   }

   div.swiper-button-next {
      top: 45%;
      right: 0;
   }

   div.swiper-1 div.swiper-pagination {
      bottom: 0;
   }
}



// SWIPER 2
// div.swiper-2 {
//    margin: 2.5rem auto;
//    // margin: 10rem 4%;
//    width: 80%;
//    height: auto;
//    position: relative;
//    padding: 0 4rem 6rem 4rem;

//    .swiper-wrapper {
//       .swiper-slide {
//          width: 100%;
//          display: flex;
//          justify-content: center;
//          align-items: center;
//       }

//       .portfolio-info {
//          display: grid;
//          grid-template-columns: 50% 40%;
//          gap: 2.5rem;
//          justify-content: center;
//          align-items: center;

//          opacity: 0;
//          transition: opacity 0.5s ease-in-out;
//          // grid-template-rows: repeat(2, min-content);

//          &__img {
//             width: 90%;
//             height: auto;
//             // object-fit: cover;
//             max-width: 100%;
//             border-radius: 10px;
//          }

//          &__text {
//             padding-top: 1rem;

//          }
//       }
//    }

//    &-pagination {
//       margin-top: 2rem;
//    }

//    .swiper-slide {
//       height: auto;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       font-size: 3rem;
//       color: black;
//    }
// }


// .swiper-2 {
//    width: 100%;
//    padding-top: 50px;
//    padding-bottom: 50px;

//    .swiper-slide {
//       background-position: center;
//       background-size: cover;
//       width: 300px;
//       height: 300px;
//    }

//    .swiper-slide img {
//       display: block;
//       width: 100%;
//    }
// }

//  CSS SELECTOR SPECIFICITY


div.swiper-button-prev::after,
div.swiper-button-next::after {
   font-size: 20px;
}


// @media (max-width: 500px) {
//    .gDesign-slide {
//       width: 28rem !important;
//       height: 36rem !important;
//    }

//    .gDesign-slide .gDesign-slide-img img {
//       width: 28rem !important;
//       height: 36rem !important;
//    }
// }


// @media (max-width: 500px) {
//    #tranding .gDesign-slider {
//       height: 45rem;
//    }
// }


div.swiper-2 {
   margin: 2.5rem auto;
   // margin: 10rem 4%;
   width: 80%;
   height: auto;
   position: relative;
   padding: 0 4rem 6rem 4rem;
}

.gDesign-slider {
   width: 37rem;
   height: 52rem;
   padding: 2rem 0;
   position: relative;

   // @media (max-width: 500px) {
   //    #tranding .gDesign-slider {
   //       height: 45rem;
   //    }
   // }

   .gDesign-slide {
      width: 37rem;
      height: 42rem;
      position: relative;

      // @media (max-width: 500px) {
      //    .gDesign-slide {
      //       width: 28rem !important;
      //       height: 36rem !important;
      //    }

      //    .gDesign-slide .gDesign-slide-img img {
      //       width: 28rem !important;
      //       height: 36rem !important;
      //    }
      // }

      & .gDesign-slide-img img {
         width: 37rem;
         height: 42rem;
         border-radius: 2rem;
         object-fit: cover;
      }
   }

   .swiper-slide-shadow-left,
   .swiper-slide-shadow-right {
      display: none;
   }

   .gDesign-slider-control {
      position: relative;
      bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .gDesign-slider-control .swiper-button-next {
      left: 58% !important;
      transform: translateX(-58%) !important;
   }

   .gDesign-slider-control .slider-arrow {
      background: var(--white);
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      left: 42%;
      transform: translateX(-42%);
      filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
   }

   .gDesign-slider-control .slider-arrow ion-icon {
      font-size: 2rem;
      color: #222224;
   }

   .gDesign-slider-control .slider-arrow::after {
      content: '';
   }

   .gDesign-slider-control .swiper-pagination {
      position: relative;
      width: 15rem;
      bottom: 1rem;
   }

   .gDesign-slider-control .swiper-pagination .swiper-pagination-bullet {
      filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
   }

   .gDesign-slider-control .swiper-pagination .swiper-pagination-bullet-active {
      background: var(--primary);
   }
}