.portfolio {
   grid-column: center-start / center-end;
   position: relative;
   display: grid;
}

// SWIPER 1
div.swiper-1 {
   margin: 7rem auto;
   width: 100%;
   height: auto;
   position: relative;
   padding: 0 4rem 7rem 4rem;

   .swiper-wrapper {
      @media only screen and (max-width:$bp-smaller) {
         margin-bottom: 5rem;
      }

      .swiper-slide {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .portfolio-info {
         display: grid;
         grid-template-columns: 50% 40%;
         gap: 2.5rem;
         justify-content: center;
         align-items: center;

         @media only screen and (max-width:$bp-small) {
            grid-template-columns: 100%;
            grid-template-rows: repeat(2, 1fr);
            gap: 1rem;
         }

         &__img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-width: 100%;
            border-radius: 10px;
         }

         &__text {
            padding-top: 1rem;

         }

      }
   }

   &-pagination {
      margin-top: 2rem;
   }


   div.swiper-button-prev {
      top: 45%;
      left: 0;
   }

   div.swiper-button-next {
      top: 45%;
      right: 0;
   }

   div.swiper-1 div.swiper-pagination {
      bottom: 0;
   }
}

div.swiper-button-prev::after,
div.swiper-button-next::after {
   font-size: 20px;
}

div.swiper-2 {
   margin: 7rem auto;

   width: 100%;
   height: auto;
   padding: 0 4rem 7rem 4rem;

   // @media (max-width: 500px) {
   //  .gDesign-slider {
   //       height: 45rem;
   //    }
   // }

   .swiper-wrapper {
      margin-bottom: 3rem;

      @media only screen and (max-width:$bp-smaller) {
         margin-bottom: 5rem;
      }
   }

   .gDesign-slide {
      width: 37rem;
      height: 42rem;
      position: relative;

      &-img img {
         width: 37rem;
         height: 42rem;
         border-radius: 2rem;
         object-fit: cover;
      }
   }

   .swiper-slide-shadow-left,
   .swiper-slide-shadow-right {
      display: none;
   }

   .gDesign-slider-control {
      width: 80%;
      position: absolute;
      bottom: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 50%;
      transform: translate(-50%);

      @media only screen and (max-width:$bp-smaller) {
         width: 100%;
      }
   }

   div.swiper-button-prev {
      left: 10%;
      color: var(--orange);
   }

   div.swiper-button-next {
      right: 10%;
      color: var(--orange);
   }

   .gDesign-slider-control .swiper-pagination {
      position: relative;
      width: 60%;
      bottom: 0;
   }

   .gDesign-slider-control .swiper-pagination .swiper-pagination-bullet {
      filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
   }

   .gDesign-slider-control .swiper-pagination .swiper-pagination-bullet-active {
      background: var(--orange);
   }
}

div.swiper-3 {
   margin: 2.5rem auto;
   width: 100%;
   height: auto;
   padding: 0 4rem 6rem 4rem;

   h3,
   h5 {
      text-transform: capitalize;
   }

   .testimonial-slider {
      position: relative;
      padding-bottom: 4rem;
      overflow: hidden;

   }

   .testi-item {
      text-align: center;
      border: 0.1rem solid var(--grey);
      border-radius: 0.5rem;
      padding: 4rem 2rem;

      &:hover {
         border-color: var(--orange);
      }

      img {
         height: 10rem;
         width: 10rem;
         border-radius: 50%;
         border: 0.5rem solid var(--white);
      }

      .fa-quote-left {
         display: block;
         font-size: 3rem;
         color: var(--orange);
         margin: 1rem 0;
      }

      p {
         color: var(--grey);
         font-size: 1.8rem;
         line-height: 1.5;
      }

      .intro {
         margin: 1rem 0;
      }

      .intro h3 {
         font-size: 2rem;
         color: var(--white);
         padding-bottom: 0.5rem;
      }

      .intro h5 {
         color: var(--orange);
         font-size: 1.6rem;
      }
   }

   .swiper-pagination {
      bottom: 0;

      .swiper-pagination-bullet-active {
         background: var(--orange);
      }

      .swiper-pagination-bullet-active {
         background: var(--white);
      }
   }
}

// Image Optimization
.lazy {
   opacity: 0;
   transition: opacity 0.3s;
}

.lazy-loaded {
   opacity: 1;
}


/* Spinner styling */
.spinner {
   width: 7rem;
   height: 7rem;
   border: 7px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   border-top-color: var(--orange);
   animation: spin 1s infinite linear;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
}

@keyframes spin {
   // to {
   //    transform: rotate(360deg) translate(-50%, -50%);
   //    ;
   // }

   0% {
      transform: translate(-50%, -50%) rotate(0deg);
   }

   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }

}