.portfolio {
   grid-column: center-start / center-end;
   position: relative;
   display: grid;
}

// SWIPER 1
div.swiper-1 {
   margin: 10rem auto;
   // margin: 10rem 4%;
   width: 80%;
   height: auto;
   position: relative;
   padding: 0 4rem 6rem 4rem;

   .swiper-wrapper {
      // width: 500px;

      .swiper-slide {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .portfolio-info {
         display: grid;
         grid-template-columns: 50% 40%;
         gap: 2.5rem;
         justify-content: center;
         align-items: center;
         // grid-template-rows: repeat(2, min-content);

         &__img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-width: 100%;
            border-radius: 10px;
         }

         &__text {
            padding-top: 1rem;

         }
      }
   }

   &-pagination {
      margin-top: 2rem;
   }
}

// SWIPER 2
div.swiper-2 {
   margin: 10rem auto;
   // margin: 10rem 4%;
   width: 80%;
   height: auto;
   position: relative;
   padding: 0 4rem 6rem 4rem;

   .swiper-wrapper {
      .swiper-slide {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .portfolio-info {
         display: grid;
         grid-template-columns: 50% 40%;
         gap: 2.5rem;
         justify-content: center;
         align-items: center;
         // grid-template-rows: repeat(2, min-content);

         &__img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-width: 100%;
            border-radius: 10px;
         }

         &__text {
            padding-top: 1rem;

         }
      }
   }

   &-pagination {
      margin-top: 2rem;
   }

   .swiper-slide {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color: black;
   }
}

//  CSS SELECTOR SPECIFICITY
div.swiper div.swiper-pagination {
   bottom: 0;
}

div.swiper-button-prev::after,
div.swiper-button-next::after {
   font-size: 20px;
}

div.swiper-button-prev {
   top: 50%;
   left: 0;
}

div.swiper-button-next {
   top: 50%;
   right: 0;
}

// .swipers {
//    width: 300px;
//    height: 200px;
//    color: black;


//    .swiper-slide {
//       text-align: center;
//       font-size: 18px;
//       background: #fff;
//       width: 80%;

//       display: flex;
//       justify-content: center;
//       align-items: center;
//    }

//    // .swiper-slide:nth-child(2n) {
//    //    width: 60%;
//    // }

//    // .swiper-slide:nth-child(3n) {
//    //    width: 40%;
//    //    // }
//    // }
// }